Repository AutarkLabs/open-enterprise, pull requests merged in 2019-10, with the labels that each got.

#1222 Projects: update contracts for audits
  apps/planning-suite-kit/contracts/PlanningKit.sol
  apps/projects/.eslintrc.js
  apps/projects/.solcover.js
  apps/projects/app/abi/StandardBounties.json
  apps/projects/app/components/Content/Issues.js
  apps/projects/app/components/Panel/FundIssues/FundIssues.js
  apps/projects/app/components/Panel/RequestAssignment/RequestAssignment.js
  apps/projects/app/components/Panel/ReviewApplication/ReviewApplication.js
  apps/projects/app/components/Panel/ReviewWork/ReviewWork.js
  apps/projects/app/components/Panel/SubmitWork/SubmitWork.js
  apps/projects/app/index.js
  apps/projects/app/script.js
  apps/projects/app/store/eventTypes.js
  apps/projects/app/store/events.js
  apps/projects/app/store/helpers/issues.js
  apps/projects/app/store/init.js
  apps/projects/arapp.json
  apps/projects/contracts/Projects.sol
  apps/projects/contracts/test/BountiesEvents.sol
  apps/projects/contracts/test/Imports.sol
  apps/projects/migrations/.gitkeep
  apps/projects/migrations/1_initial_migration.js
  apps/projects/migrations/2_deploy_contracts.js
  apps/projects/package.json
  apps/projects/test/Spoof.sol
  apps/projects/test/projects.test.js
  apps/projects/utils/coverage-prep.sh
  apps/projects/utils/dev-prep.sh
  apps/projects/utils/ganache-cli.sh
  apps/projects/utils/test.sh
  apps/shared/test-helpers/artifacts.js
  apps/shared/test-helpers/contracts/lib/bounties/BountiesEvents.sol
  lerna.json
  shared/integrations/StandardBounties/.gitignore
  shared/integrations/StandardBounties/.solcover.js
  shared/integrations/StandardBounties/.soliumignore
  shared/integrations/StandardBounties/.soliumrc.json
  shared/integrations/StandardBounties/LICENSE
  shared/integrations/StandardBounties/README.md
  shared/integrations/StandardBounties/contracts/BountiesMetaTxRelayer.sol
  shared/integrations/StandardBounties/contracts/StandardBounties.sol
  shared/integrations/StandardBounties/contracts/inherited/ERC20Token.sol
  shared/integrations/StandardBounties/contracts/inherited/ERC721Basic.sol
  shared/integrations/StandardBounties/contracts/inherited/HumanStandardToken.sol
  shared/integrations/StandardBounties/contracts/inherited/Migrations.sol
  shared/integrations/StandardBounties/contracts/inherited/Token.sol
  shared/integrations/StandardBounties/docs/documentation_v1.md
  shared/integrations/StandardBounties/docs/documentation_v2.md
  shared/integrations/StandardBounties/docs/gitcoinSchemas.md
  shared/integrations/StandardBounties/docs/standardSchemas.md
  shared/integrations/StandardBounties/graph.txt
  shared/integrations/StandardBounties/inheritance.txt
  shared/integrations/StandardBounties/migrations/1_initial_migration.js
  shared/integrations/StandardBounties/migrations/2_deploy_contracts.js
  shared/integrations/StandardBounties/package.json
  shared/integrations/StandardBounties/test/StandardBountiesInERC20.js
  shared/integrations/StandardBounties/test/StandardBountiesInERC721.js
  shared/integrations/StandardBounties/test/StandardBountiesInETH.js
  shared/integrations/StandardBounties/test/helpers/Utils.js
  shared/integrations/StandardBounties/truffle-config.js
Labels: app: projects, contracts, mainnet

#1277 Address Book: ugrade AragonUI to 1.0.0-alpha.26
  apps/address-book/app/components/App/App.js
  apps/address-book/app/components/App/Entities.js
  apps/address-book/app/components/LocalIdentityBadge/IdentityManager.js
  apps/address-book/app/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/address-book/app/components/LocalIdentityBadge/LocalLabelPopoverActionLabel.js
  apps/address-book/app/components/LocalIdentityBadge/LocalLabelPopoverTitle.js
  apps/address-book/package.json
Labels: app: address book, mainnet

#1256 Address book new entity
  apps/address-book/app/components/Form/Form.js
  apps/address-book/app/components/Panel/NewEntity.js
Labels: mainnet

#1261 audit: remove 32 bytes from copy function
  apps/dot-voting/contracts/DotVoting.sol
  apps/dot-voting/contracts/test/mocks/ExecutionTarget.sol
  apps/dot-voting/test/DotVoting.test.js
  apps/shared/test-helpers/contracts/common/ADynamicForwarder.sol
  apps/shared/test-helpers/contracts/evmscript/ScriptHelpers.sol
Labels: app: dot voting, contracts, mainnet

#1273 Projects/script: don't update state unnecessarily
  apps/projects/app/store/events.js
  apps/projects/app/store/init.js
Labels: app: projects

#1262 Rewards Design Update
  apps/rewards/.gitignore
  apps/rewards/.solcover.js
  apps/rewards/.soliumignore
  apps/rewards/.soliumrc.json
  apps/rewards/app/api-react.js
  apps/rewards/app/app-state-reducer.js
  apps/rewards/app/assets/empty-rewards.svg
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Card/Empty.js
  apps/rewards/app/components/Content/Metrics.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/components/Content/Overview.js
  apps/rewards/app/components/Content/RewardsTables.js
  apps/rewards/app/components/Form/Field/FormField.js
  apps/rewards/app/components/Form/Form.js
  apps/rewards/app/components/Panel/MyReward/MyReward.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
  apps/rewards/app/components/Panel/NewReward/TokenSelectorInstance.js
  apps/rewards/app/components/Panel/RewardSummary.js
  apps/rewards/app/components/Panel/ViewReward/ViewReward.js
  apps/rewards/app/store/init.js
  apps/rewards/app/store/reward.js
  apps/rewards/app/store/token.js
  apps/rewards/app/utils/constants.js
  apps/rewards/app/utils/helpers.js
  apps/rewards/app/utils/metric-utils.js
  apps/rewards/contracts/Rewards.sol
  apps/rewards/contracts/misc/Migrations.sol
  apps/rewards/contracts/test/Imports.sol
  apps/rewards/migrations/.gitkeep
  apps/rewards/migrations/1_initial_migration.js
  apps/rewards/package.json
  apps/rewards/test/Rewards.test.js
  apps/rewards/test/Spoof.sol
  apps/rewards/test/helpers/mineBlock.js
  apps/rewards/truffle-config.js
  kits/planning-suite/contracts/PlanningSuite.sol
  shared/ui/components/form/inputs/DateInput.js
  shared/ui/utils/math-utils.js
Labels: app: rewards, mainnet

#1216 Perform cleanup and performance changes from internal audit on Allocations app
  apps/address-book/app/components/App/App.js
  apps/allocations/.soliumrc.json
  apps/allocations/contracts/Allocations.sol
  apps/allocations/test/Allocations.test.js
  apps/allocations/test/allocations.test.js~allocation workflow implemented with budgets and periods
  apps/dot-voting/package.json
  apps/projects/package.json
  apps/rewards/contracts/Rewards.sol
  apps/rewards/package.json
  apps/rewards/test/Rewards.test.js
  apps/rewards/truffle-config.js
  apps/shared/test-helpers/truffle-config.js
  package.json
Labels: app: allocations, contracts

#1282 Small update to contract, increased coverage
  apps/allocations/contracts/Allocations.sol
  apps/allocations/test/Allocations.test.js
  apps/allocations/test/allocations.test.js~allocation workflow implemented with budgets and periods
Labels: app: allocations, author ready, contracts, testing

#1308 Rewards: 'View' and 'Claim' options in ContextMenu
  apps/rewards/app/app-state-reducer.js
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Card/Empty.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/components/Content/Overview.js
  apps/rewards/app/components/Panel/RewardSummary.js
  apps/rewards/app/store/events.js
  apps/rewards/app/store/reward.js
Labels: app: rewards, mainnet

#1330 Address Book: close sidepanel smoothly
  apps/address-book/app/components/App/App.js
Labels: app: address book

#1338 Allocations: AragonUI version bump
  apps/allocations/package.json
Labels: app: allocations

#1335 Allocations: improved labels colors in New Allocation side panel
  apps/allocations/app/components/Panel/NewBudget.js
Labels: app: allocations

#1337 Fix StandardBounties use in template
  apps/projects/package.json
  apps/projects/utils/dev-prep.sh
  shared/integrations/StandardBounties/package.json
  templates/dev/package.json
  templates/open-enterprise/contracts/BaseOEApps.sol
  templates/open-enterprise/contracts/test/TestImports.sol
  templates/open-enterprise/package.json
  templates/open-enterprise/scripts/create-dao.js
  templates/open-enterprise/temp/lib/OEDeployer.js
  templates/open-enterprise/temp/scripts/deploy-standardBounties.js
  templates/open-enterprise/temp/scripts/deploy-standardBounties.sh
Labels: bug, contracts, mainnet

#1339 Dot Voting: add an address badge to the "cast vote" card
  apps/dot-voting/app/components/VoteDetails/CastVote.js
Labels: app: dot voting

#1352 Projects: default work deadline in weeks + improved unit conversion logic
  apps/projects/app/components/Content/Settings.js
Labels: app: projects

#1340 Dot voting: consistent cards
  apps/dot-voting/app/components/VotingCard.js
  apps/dot-voting/app/components/VotingOption.js
Labels: app: dot voting

#1359 Address Book: remove custom types
  apps/address-book/app/components/Panel/NewEntity.js
Labels: app: address book

#1358 Add --files to publish:http scripts
  apps/address-book/package.json
  apps/allocations/package.json
  apps/discussions/package.json
  apps/dot-voting/package.json
  apps/projects/package.json
  apps/rewards/package.json
  templates/dev/package.json
  templates/open-enterprise/package.json
Labels: housekeeping

#1399 Projects: truncate issue title in fund issue panel
  apps/projects/app/components/Panel/FundIssues/FundIssues.js
Labels: app: projects

#1398 Allocations: remove funds limit for New/Edit Budget Panel
  apps/allocations/app/components/App/App.js
  apps/allocations/app/components/Panel/NewBudget.js
Labels: app: allocations

#1395 Allocations: add LocalIdentityBadge in Allocations history
  apps/allocations/app/components/App/AllocationsHistory.js
  apps/allocations/app/components/App/App.js
  apps/allocations/app/components/LocalIdentityBadge/IdentityManager.js
  apps/allocations/app/components/LocalIdentityBadge/LocalIdentityBadge.js
  apps/allocations/app/components/LocalIdentityBadge/LocalLabelPopoverActionLabel.js
  apps/allocations/app/components/LocalIdentityBadge/LocalLabelPopoverTitle.js
Labels: app: allocations

#1274 Implement `forceAddress` in LocalIdentityBadge #1265
  apps/address-book/app/components/App/Entities.js
  apps/address-book/app/components/LocalIdentityBadge/LocalIdentityBadge.js
  shared/identity/LocalIdentityBadge.js
Labels: app: address book, aragon-ui, front-end

#1425 Rewards: miscellaneous cleanup
  apps/rewards/app/app-state-reducer.js
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Card/Empty.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
  apps/rewards/app/components/Panel/RewardSummary.js
Labels: app: rewards, housekeeping

#1418 Address Book: update type badges colors
  apps/address-book/app/components/App/Entities.js
  apps/address-book/app/components/Panel/NewEntity.js
Labels: app: address book

#1415 Dot Voting: add missing titles in issue curation
  apps/dot-voting/app/store/votes.js
Labels: app: dot voting

#1424 Rewards: solved infinite monthly average bug
  apps/rewards/app/utils/metric-utils.js
Labels: app: rewards

#1427 Rewards: improve decimal rounding in My Rewards
  apps/rewards/app/app-state-reducer.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/utils/constants.js
  apps/rewards/app/utils/helpers.js
Labels: app: rewards

#1422 Rewards: solved disbursement frequency bug & allowed single-disbursement recurring dividends
  apps/rewards/app/components/Panel/NewReward/NewReward.js
Labels: app: rewards

#1435 Rewards: solved MiniMe validation bug
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
  apps/rewards/app/utils/helpers.js
Labels: app: rewards

#1459 Rewards: dates can't be today
  apps/rewards/app/components/Panel/NewReward/NewReward.js
Labels: app: rewards

#1461 Allocations: set a fixed width for recipients container
  apps/allocations/app/components/App/AllocationsHistory.js
Labels: app: allocations

#1468 Projects: "Submit application" instead of "Request Assignment"
  apps/projects/app/components/Panel/FundIssues/FundIssues.js
  apps/projects/app/components/Panel/RequestAssignment/RequestAssignment.js
  apps/projects/app/components/Panel/usePanelManagement.js
  apps/projects/app/components/Shared/BountyContextMenu.js
  apps/projects/contracts/Projects.sol
Labels: app: projects

#1482 Pushed version of Aragon UI to the latest .32
  apps/projects/package.json
Labels: app: projects

#1467 Address Book: disallow duplicate addresses
  apps/address-book/app/components/Panel/NewEntity.js
Labels: app: address book

#1473 Rewards: AragonUI version bump
  apps/rewards/package.json
Labels: app: rewards

#1484 Allocations: "utilized" instead of "remaining" in budget cards
  apps/allocations/app/components/Card/Budget.js
Labels: app: allocations
