Repository AutarkLabs/open-enterprise, pull requests merged in 2019-11, with the labels that each got.

#1512 Dot Voting/EditVoteOption: improve number-input UX
  apps/dot-voting/app/components/VoteDetails/CastVote/CastVote.js
  apps/dot-voting/app/components/VoteDetails/CastVote/EditVoteOption.js
Labels: app: dot voting, mainnet

#1514 updated BountyContextMenu
  apps/projects/app/components/Content/IssueDetail/StatusCard.js
  apps/projects/app/components/Shared/BountyContextMenu.js
Labels: app: projects, mainnet

#1511 Address Book: type badges font colors
  apps/address-book/app/components/App/Entities.js
Labels: app: address book, mainnet

#1513 Rewards: give the asset dropdown panel space
  apps/rewards/app/components/Panel/NewReward/NewReward.js
Labels: app: rewards, mainnet

#1195 Enhance the mine cli script to be usable with Truffle
  apps/shared/test-helpers/mine.js
  package.json
Labels: testing

#1500 Rewards: allow past dates after reference asset creation
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
  apps/rewards/app/store/token.js
  apps/rewards/app/utils/token-utils.js
Labels: app: rewards, mainnet

#1543 Address Book: added disclaimer for identity provider
  apps/address-book/app/components/Card/Empty.js
Labels: app: address book

#1542 Projects: fix token initialization issue
  apps/projects/app/store/helpers/tokens.js
Labels: app: projects

#1567 Rewards: some minor bug fixes
  apps/rewards/app/components/Form/Field/FormField.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
Labels: app: rewards

#1548 Rewards: add block numbers to New Reward summary
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
  apps/rewards/app/components/Panel/RewardSummary.js
Labels: app: rewards

#1566 Rewards: Frequency validation
  apps/rewards/app/components/Panel/NewReward/NewReward.js
Labels: app: rewards

#1568 Add creation date try/catch block
  apps/rewards/app/utils/token-utils.js
Labels: app: rewards

#1609 Address Book/arapp: change entry into entity
  apps/address-book/arapp.json
Labels: app: rewards

#1634 Rewards/Overview: add block number to "next payout"
  apps/rewards/app/components/Content/Overview.js
Labels: app: rewards

#1635 Rewards/My Rewards: add icons to "status"
  apps/rewards/app/components/Content/MyRewards.js
Labels: app: rewards

#1640 Rewards/ViewReward: add status info
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/components/Panel/PanelManager.js
  apps/rewards/app/components/Panel/RewardSummary.js
  apps/rewards/app/components/Panel/ViewReward/ViewReward.js
  apps/rewards/app/components/Styles/Header.js
  apps/rewards/app/utils/helpers.js
Labels: app: rewards

#1636 Rewards/MyRewards: add date to claimed status
  apps/rewards/app/utils/helpers.js
Labels: app: rewards

#1607 Rewards/NewReward: improve error message for non-transferable assets
  apps/rewards/app/components/Panel/NewReward/NewReward.js
Labels: app: rewards

#1678 Rewards/store: Fix claimed rewards' disappearance
  apps/rewards/app/store/reward.js
  apps/rewards/contracts/Rewards.sol
Labels: app: rewards

#1098 Projects: cleanup getIssuesForRepos query
  apps/projects/app/components/Panel/NewIssue/NewIssue.js
  apps/projects/app/utils/gql-queries.js
Labels: app: projects
