Repository AutarkLabs/open-enterprise, pull requests merged in 2019-09, with the labels that each got.

#1217 Icon for the delete entry in the context menu
  apps/address-book/app/components/App/Entities.js
Labels: app: address book, author ready

#1214 Addressbook design check
  apps/address-book/app/components/App/App.js
  apps/address-book/app/components/App/Entities.js
  shared/identity/LocalIdentityBadge.js
Labels: UX, app: address book, aragon-ui, author ready, front-end, responsive

#1223 Added "New Account" button to empty card
  apps/allocations/app/components/Card/Empty.js
Labels: app: allocations, author ready

#1189 Web3 integration addressbook
  apps/address-book/.solcover.js
  apps/address-book/app/components/App/App.js
  apps/address-book/app/components/App/Entities.js
  apps/address-book/app/store/entry.js
  apps/address-book/app/store/events.js
  apps/address-book/contracts/AddressBook.sol
  apps/address-book/contracts/misc/Migrations.sol
  apps/address-book/contracts/test/Imports.sol
  apps/address-book/contracts/test/TestImports.sol
  apps/address-book/migrations/.gitkeep
  apps/address-book/migrations/1_initial_migration.js
  apps/address-book/migrations/2_deploy_contracts.js
  apps/address-book/package.json
  apps/address-book/test/AddressBook.test.js
  apps/address-book/test/Spoof.sol
  apps/address-book/test/address-book.js
  apps/address-book/truffle-config.js
  shared/utils/ipfs.js
Labels: app: address book, author ready, mainnet

#1227 Allocations: Remove header on No budget page
  apps/allocations/app/components/App/Accounts.js
  apps/allocations/app/components/App/App.js
  apps/allocations/app/components/Card/Empty.js
Labels: app: allocations

#1231 Allocations: New budget side panel design update
  apps/allocations/app/components/App/App.js
  apps/allocations/app/components/Form/Form.js
  apps/allocations/app/components/Panel/NewAccount.js
  apps/allocations/app/components/Panel/NewBudget.js
  apps/allocations/app/components/Panel/index.js
  apps/allocations/app/utils/constants.js
Labels: app: allocations

#1235 Fix empty screen design for Allocations
  apps/allocations/app/assets/empty-accounts.svg
  apps/allocations/app/assets/no-budgets.svg
  apps/allocations/app/components/Card/Empty.js
Labels: author ready, fast-track, quick-fix, ui-perfection

#1244 [chore] Make git clean script options safer
  package.json
Labels: author ready

#1248 Address book: Duplicate address error
  apps/address-book/app/api-react.js
  apps/address-book/app/components/App/App.js
  apps/address-book/app/components/Panel/NewEntity.js
Labels: mainnet

#1251 Changes to README
  README.md
Labels: author ready, fast-track, housekeeping, markdown, quick-fix

#1257 Dot Voting/stubbedAPI: fix createVote with no args
  apps/dot-voting/app/api-react.js
Labels: DX, author ready, fast-track

#1258 Standardize index.html files; add device-width tag
  apps/address-book/app/index.html
  apps/allocations/app/index.html
  apps/discussions/app/index.html
  apps/dot-voting/app/index.html
  apps/projects/app/index.html
  apps/rewards/app/index.html
Labels: DX, author ready, quick-fix

#1260 Fix creating Allocations/Dot Votes
  apps/allocations/app/components/App/App.js
  apps/allocations/app/components/Panel/NewAllocation.js
Labels: app: allocations, author ready, mainnet, quick-fix
