Repository AutarkLabs/open-enterprise, pull requests merged in 2020-01, with the labels that each got.

#1853 Allocations: use double check icon and add status colors
  apps/allocations/app/components/App/AllocationsHistory.js
  apps/allocations/app/store/allocation.js
  apps/allocations/app/utils/constants.js
  apps/rewards/app/assets/double-check.svg
  apps/rewards/app/utils/helpers.js
  shared/ui/components/assets/svg/IconDoubleCheck.js
Labels: app: allocations

#1910 fix: add metadata to new vote
  apps/dot-voting/app/components/Panels/NewVote.js
Labels: app: projects, quick-fix

#1911 fix(dot-voting): smooth transition for side panel
  apps/dot-voting/app/components/Panels/NewVote.js
Labels: app: dot voting, quick-fix, ui-perfection

#1902 Projects: remake issues tab as project detail
  apps/projects/app/Routes.js
  apps/projects/app/components/Card/Issue.js
  apps/projects/app/components/Card/Project.js
  apps/projects/app/components/Content/Filters.js
  apps/projects/app/components/Content/IssueDetail/index.js
  apps/projects/app/components/Content/ProjectDetail.js
  apps/projects/app/components/Content/index.js
  apps/projects/app/components/Shared/FilterBar/FilterBar.js
  apps/projects/app/components/Shared/Tabs.js
  apps/projects/app/utils/gql-queries.js
  shared/utils/usePathHelpers.js
Labels: app: projects, enhancement

#1913 feat: project Card for decentralized projects (UI)
  apps/projects/app/components/Card/Project.js
Labels: app: projects, ui-perfection

#1903 feat: dark mode
  apps/address-book/app/components/App/App.js
  apps/address-book/package.json
  apps/allocations/app/assets/no-budgets.svg
  apps/allocations/app/components/App/App.js
  apps/allocations/app/components/Form/Field/CurrencyBox.js
  apps/allocations/app/components/Panel/NewAllocation.js
  apps/allocations/package.json
  apps/discussions/package.json
  apps/dot-voting/app/App.js
  apps/dot-voting/app/index.js
  apps/dot-voting/package.json
  apps/projects/app/App.js
  apps/projects/app/components/Content/Settings.js
  apps/projects/app/components/Shared/FilterBar/FilterDropDown.js
  apps/projects/app/components/Shared/NumberInput.js
  apps/projects/package.json
  apps/rewards/app/components/App/App.js
  apps/rewards/app/components/Content/MyRewards.js
  apps/rewards/app/components/Content/Overview.js
  apps/rewards/app/components/Panel/NewReward/NewReward.js
  apps/rewards/package.json
  shared/ui/components/form/inputs/DatePicker.js
Labels: aragon-ui, enhancement

#1901 feat: bounties tab
  apps/projects/app/App.js
  apps/projects/app/Routes.js
  apps/projects/app/components/Content/Bounties.js
  apps/projects/app/components/Content/index.js
  apps/projects/app/components/Shared/Tabs.js
  apps/projects/app/context/BountyIssues.js
  apps/projects/app/utils/gql-queries.js
Labels: app: projects, enhancement

#1907 UI for native projects in NewProject panel
  apps/projects/app/App.js
  apps/projects/app/components/Form/Field/FieldTitle.js
  apps/projects/app/components/Form/Field/FormField.js
  apps/projects/app/components/Form/Field/Required.js
  apps/projects/app/components/Form/Field/index.js
  apps/projects/app/components/Panel/FundIssues/FundIssues.js
  apps/projects/app/components/Panel/NewProject/NewProject.js
  apps/projects/app/components/Panel/PanelComponents.js
Labels: app: projects, enhancement

#1923 Projects: improve querying behavior
  apps/projects/app/App.js
  apps/projects/app/Routes.js
  apps/projects/app/components/Content/Bounties.js
  apps/projects/app/components/Content/Filters.js
  apps/projects/app/components/Content/ProjectDetail.js
  apps/projects/app/components/Panel/NewIssue/NewIssue.js
  apps/projects/app/components/Panel/NewProject/NewProject.js
  apps/projects/app/components/Shared/FilterBar/FilterBar.js
  apps/projects/app/components/Shared/FilterBar/prepareFilters.js
  apps/projects/app/context/DecoratedRepos.js
  apps/projects/app/utils/gql-queries.js
  apps/projects/app/utils/shapes.js
Labels: app: projects, enhancement
